main {
	background-color:#ff8fc0;
 	background: linear-gradient(90deg, rgb(249, 176, 247) 0%, rgb(255, 87, 207) 50%, rgba(255,174,188,1) 100%);
 	border-width: 20px;
 	border-color:rgb(204, 153, 255);
 	border-style: dotted;
}

head {
	<link rel="stylesheet" href="index.css">
	text-align:center;
	font-colour:rgb(102, 255, 194)
	font-size:24px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
	
}

h1 {
	
	font-colour:rgb(255, 51, 204)
	font-size:24px;
	font-style: italic,bold;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
}
	
ul{ 

	font-colour:rgb(102, 255, 194)
	font-size:24px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
	}
h2{ 
	

	font-colour:rgb(102, 255, 194)
	font-size:24px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
	}
h3{ 
	

	font-colour:rgb(102, 255, 194)
	font-size:24px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 4;

	}






		
