body {
		
 		background: linear-gradient(90deg, rgb(249, 176, 247) 0%, rgb(255, 87, 207) 50%, rgba(255,174,188,1) 100%);
 	        border-width: 4px;
 		border-color: rgb(255, 255, 255);
 		border-style: dotted;
}

	


head {
	<link rel="stylesheet" href="index.css">
	text-align:center;
	font-display:24px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
	color:#ccff99; 
	
}

h1 {
	text-align:center;
	color:#ccff99); 
	font-size:30px;
	font-style: italic,bold;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
}
	
ul { 
	color:#ccff99; 
	font-size:24px;
	text-style: itallic;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
	}
h2 { 
	color:#ccff99; 
	font-size:30px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 3;
	
	}
h3 { 
	
	color:#ccff99); 
	font-size:30px;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 4;

	}

main {
	
 		background: linear-gradient(90deg, rgb(249, 176, 247) 0%, rgb(255, 87, 207) 50%, rgba(255,174,188,1) 100%);
 	        border-width: 3px;
 		border-color: rgb(255, 255, 255);
 		border-style: solid;

}



		
